<div class="text-center">
    <div>
        <div class="text-center">
            <input type="text" [(ngModel)]="locationFilterItemName.itemName" placeholder="Find Stuff">
        </div>
    </div>
    <div *ngFor="let location of locations">
        <div>
            <div *ngFor="let container of location.containersInLocation">
                <div>
                    <div *ngFor="let item of container.itemsInContainer | filterBy: locationFilterItemName">
                        <div class="tile">
                            <div>{{location.locationName}}</div>
                            <div>{{container.containerName}}</div>
                            <div>{{item.itemName}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear-fix">

    </div>
</div>

<router-outlet></router-outlet>