<!--The content below is only a placeholder and can be replaced.-->
<div class="container text-light bg-dark h-100">
    <div class="jumbotron jumbotron-fluid bg-dark container-fluid justify-content-center">
        <div class="text-center">
            <img width="500" alt="WIMSY Logo" src="http://www.wimsy.com/images/logo.png" class="img-fluid">
            <h2>Overview of your Stuff</h2>
        </div>
    </div>
    <div>
        <app-location></app-location>
    </div>
    <div class="container">
        <div>
            <app-finditem></app-finditem>
        </div>
        <br>
        <div>
            <app-additem></app-additem>
        </div>
        <br>
        <div>
            <app-moveitem></app-moveitem>
        </div>
    </div>
    <br>
    <br>
    <router-outlet></router-outlet>
</div>