<div id="accordion">
    <div class="card bg-secondary">
        <div class="card-header" id="headingMove">
            <h2 class="text-center" data-toggle="collapse" data-target="#collapseMove" aria-expanded="true" aria-controls="collapseMove">
                Move stuff
            </h2>
        </div>

        <div id="collapseMove" class="collapse hide" aria-labelledby="headingMove" data-parent="#accordion">
            <div class="card-body">

                <div class="container">
                    <form #moveItemForm="ngForm" novalidate>
                        <br>
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="name" required [(ngModel)]="moveItemForm.name" name="name" #name="ngModel">
                        </div>

                        <br>
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <input type="text" class="form-control" id="description" required [(ngModel)]="moveItemForm.description" name="description" #description="ngModel">
                        </div>

                        <pre>{{moveItemForm.value|json}}</pre>

                        <br>
                        <button class="btn btn-success" (click)="moveItemFromForm(moveItemForm); moveItemForm.reset()" [disabled]="!moveItemForm.form.valid">Move Item</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>