<div id="accordion">
    <div class="card form-color">
        <div class="card-header" id="headingMove">
            <h2 class="text-center" data-toggle="collapse" data-target="#collapseMove" aria-expanded="true" aria-controls="collapseMove">
                Move stuff
            </h2>
        </div>

        <div id="collapseMove" class="collapse hide" aria-labelledby="headingMove" data-parent="#accordion">
            <div class="card-body">

                <div class="container">
                    <form #moveItemForm="ngForm" novalidate>
                        <br>
                        <div class="form-group">
                            <label for="name">Stuff name:</label>
                            <input type="text" class="form-control" id="name" required [(ngModel)]="moveItemForm.itemName" name="itemName" #itemName="ngModel">
                        </div>

                        <br>
                        <div class="form-group">
                            <label for="container">Container:</label>
                            <input type="text" class="form-control" id="container" required [(ngModel)]="moveItemForm.containerName" name="containerName" #containerName="ngModel">
                        </div>

                        <br>
                        <div class="form-group">
                            <label for="location">Location:</label>
                            <input type="text" class="form-control" id="location" required [(ngModel)]="moveItemForm.locationName" name="locationName" #locationName="ngModel">
                        </div>

                        <!-- <pre>{{moveItemForm.value|json}}</pre> -->

                        <br>
                        <button class="btn btn-success container" (click)="moveItemFromForm(moveItemForm); moveItemForm.reset()" [disabled]="!moveItemForm.form.valid">Move Stuff</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>