<div id="accordion">
    <div class="card form-color">
        <div class="card-header" id="headingAdd">
            <h2 class="text-center" data-toggle="collapse" data-target="#collapseAdd" aria-expanded="true" aria-controls="collapseAdd">
                Add stuff
            </h2>
        </div>

        <div id="collapseAdd" class="collapse hide" aria-labelledby="headingAdd" data-parent="#accordion">
            <div class="card-body">

                <div class="container">
                    <form #addItemForm="ngForm" novalidate>
                        <br>
                        <div class="form-group">
                            <label for="itemName">Stuff name:</label>
                            <input type="text" class="form-control" id="itemName" required [(ngModel)]="addItemForm.itemName" name="itemName" #itemName="ngModel">
                        </div>

                        <!-- <br>
                        <div class="form-group hide-descripption">
                            <label for="description">Stuff description:</label>
                            <input type="text" class="form-control" id="description" required [(ngModel)]="addItemForm.itemDescription" name="itemDescription" #itemDescription="ngModel">
                        </div> -->

                        <br>
                        <div class="form-group">
                            <label for="container">Container:</label>
                            <input type="text" class="form-control" id="container" required [(ngModel)]="addItemForm.form.containerName" name="containerName" #containerName="ngModel">
                        </div>

                        <br>
                        <div class="form-group">
                            <label for="location">Location:</label>
                            <input type="text" class="form-control" id="location" required [(ngModel)]="addItemForm.locationName" name="locationName" #locationName="ngModel">
                        </div>

                        <br>
                        <button class="btn btn-success container" (click)="addItemToForm(addItemForm); addItemForm.reset()" [disabled]="!addItemForm.form.valid">Add Stuff</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>